{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('dist/vendor/css') }}/home.css" />
{% endblock %}

{% block content %}

    <div id="vue-content-home">
    </div>

{% endblock %}

{% block footer_scripts %}
    <script src="{{ asset('dist/vendor/js') }}/home.js"></script>
{% endblock %}