{% extends '@layout/default.html.twig' %}

{% block title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('dist/vendor/css') }}/loginregister.css" />
{% endblock %}

{% block content %}
    <div id="vue-content-login-register">
    </div>
{% endblock %}

{% block footer_scripts %}
    <script src="{{ asset('dist/vendor/js') }}/loginregister.js"></script>
{% endblock %}