<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PR-ImóveisBeta - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('dist/vendor/css') }}/global.css" />
    {% block styles %}{% endblock %}
</head>
<body>

<div class="page-content">
    <!-- Application Navbar -->
    {% block navbar %}
        {% include '@app/menu/navbar.html.twig' %}
    {% endblock %}

    <!-- Application Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{{ asset('dist/vendor/js') }}/global.js"></script>
{% block footer_scripts %}{% endblock %}
</body>
</html>